<!-- navbar -->
<nav id="sticky_nav">
    <div class="container__left">
        <a class="navbar-brand" href="/"><img style="margin-left: 10px; height: 80px;"
                src="../static/Oneinmillionlogo_dark.png" alt="" srcset=""></a>

    </div>
    <button id="btnMenu" onclick="openMenu()">
        <i class="fa fa-bars"></i>
        <i class="fa fa-close"></i>
    </button>
    <div class="container__menu" id="thisMenu">
        <div class="container__list">

            <button onclick="window.location.href='/'" class="btnList a-new">home</button>

        </div>
        <div class="">
            <button class="btnList a-new" onclick="openList('1') ">
                ABOUT+

            </button>
            <div class="content__list left" id="thisList_1">
                <a href="/family"> Family </a>
                <a href="/lions"> Professional </a>
                <a href="/lions">Philanthropy</a>
            </div>
        </div>
        <div class="container__list">
            <button class="btnList btnList a-new" onclick="openList('4') ">
                Lions Leader+

            </button>
            <div class="content__list left" id="thisList_4">
                <a href="/membership">Membership</a>
                <a href="/leadership">Leadership</a>
                <a href="/areaforums">Area Forums</a>
                <a href="/leadershiprole">Leadership Roles</a>
                <a href="/partnership">Partnerships</a>
                <a href="/achievements">Achievements</a>

            </div>
        </div>
        <div class="container__list">
            <button class="btnList btnList a-new" onclick="openList('5') ">
                Lions Service+

            </button>
            <div class="content__list left" id="thisList_5">
                <a href="/lionservice">Lion's Service</a>
                <a href="/vision">Vision</a>
                <a href="/youth">Youth</a>
                <a href="/diabetes">Diabetes</a>
                <a href="/environment">Environment</a>
                <a href="/hunger">Hunger</a>

            </div>
        </div>
        <div class="container__list ">
            <button class="btnList a-new" onclick="openList('2')">
                Affiliations+

            </button>
            <div class="btnList content__list left" id="thisList_2">
                <a href="/kingsway">Kingsway Group</a>
                <a href="/mpShah">M.P Shah Hospital</a>
                <a href="/lions">Lions SightFirst Eye Hospital</a>
                <a href="/stJones">ST.Johns</a>
                <a href="/AA">AA Kenya</a>
                <a href="./kilimanjaro">Kilimanjaro Blind Trust</a>
                <a href="/specialOlympics">Special Olympics</a>

            </div>
        </div>

        <div class="container__list">
            <button class="btnList a-new" onclick="openList('3') ">
                BOOK+

            </button>
            <div class="content__list left" id="thisList_3">
                <a href="/book">One In A Million</a>
                <!-- <a href="/author">About the author</a> -->
            </div>
        </div>
		
        <div class="container__list">

            <button onclick="window.location.href='/contact'" class="btnList a-new">Contact</button>

        </div>



    </div>

</nav>