<footer class="ftco-footer ftco-section reduce">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Leader par excellence...</h2>
                    <p>Dr. Manoj Shah is someone who has redefined the achievement standards, yet what defines him
                        is the admirable trait of utmost
                        humility and passion in every aspect of his multifarious life.
                    </p>
                    <p><a href="/lions" class="btn btn-primary">More about Dr. Manoj Shah</a></p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="/"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
                        <li><a href="/lions"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                        <li><a href="/leadership"><span
                                    class="fa fa-chevron-right mr-2"></span>Lions Leader</a></li>

                        <li><a href="/vision"><span class="fa fa-chevron-right mr-2"></span>Lions Service</a></li>
                        <li><a href="/contact"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact me</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">
                                    7, University Way,Kingsway House, Nairobi, Kenya</span></li>

                            <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span
                                        class="text">oneinamillion@kingswaytyres.com</span></a></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="https://twitter.com/manojforvp" target="_blank"
                                rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a></i></span></a>
                        </li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/manojforvp" target="_blank"
                                rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/in/dr-manoj-shah-b2571b26/"
                                target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></span></a>
                        </li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/manojforvp/" target="_blank"
                                rel="noopener noreferrer"><i class="fab fa-instagram"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>